.cls1{
    display: flex;
    border: 2px solid black;
    margin-right: 46%;
}
.td1{
    border: 1px solid black;
    background-color: black;
    color: white;
    height: 80px;
    width: 80px;
    text-align: center;
}
.td2{
    border: 1px solid black;
    background-color: white;
    height: 80px;
    width: 80px;
    text-align: center;
}